<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% block head %}
    <title>Home</title>

    <!-- Stylesheets -->
    <link href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='qrcode-generator.js') }}" type="text/javascript"></script>
    {% endblock head %}

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">QRCode Generator</a>

    <!-- Check whether the user is login or not -->
    {% if username is not none %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="btn btn-success" href="/logout">
                <i class="fa fa-user fa-lg"> {{username}}, Logout </i>
            </a>
        </li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="btn btn-success" href="/login">
                <i class="fa fa-sign-in fa-lg"> Login </i>
            </a>
        </li>
    </ul>
    {% endif %}
</nav>
<br>
<div class="container col-lg-6 p-3 bg-white shadow rounded">
{% block main %}
{% endblock main %}
</div>
</body>
</html>