<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  {% block head %}
  <title>{{ _('qrcode-generator-title') }}</title>

  <!-- Stylesheets -->
  <link href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

  <!-- Scripts -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='qrcode-generator.js') }}"></script>
  {% endblock head %}

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('qrcode-generator-name') }}</a>

  <ul class="nav navbar-nav navbar-right">
    <!-- Check whether the user is login or not -->
    {% if username is not none %}
      <li>
        <span class="navbar-text">
          {{ _('login-as') }}&nbsp;{{username}}!
        </span>
        <a style="margin-left:5px;" class="btn btn-outline-light" href="{{ url_for('changelang') }}"> {{ _('changelanguage') }} </a>
        <a class="btn btn-outline-light" href="{{ url_for('mwoauth.logout') }}">
          <i class="fa fa-user"></i> {{ _('logout') }}
        </a>
      </li>
    {% else %}
      <li>
        <a style="margin-left:5px;" class="btn btn-outline-light" href="{{ url_for('changelang') }}"> {{ _('changelanguage') }} </a>
        <a class="btn btn-outline-light" href="{{ url_for('mwoauth.login') }}">
          <i class="fa fa-sign-in"></i> {{ _('login') }}
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
<br>
<div class="container col-lg-6 p-3 bg-white shadow rounded">
{% if username is none %}
<div class="alert alert-info" role="alert">
  <a href="{{ url_for('mwoauth.login') }}">
    {{ _('login') }}
  </a>
  {{ _('pleaselogin') }}
</div>
{% endif %}
{% block main %}
{% endblock main %}
</div>
</body>
</html>