{% extends 'base.html' %}

{% block main %}
<form action="{{ url_for('index') }}" method="GET">
  <div class="form-group">
    <input class="form-control" name="urltextBox"
      {% if url is not none %} value="{{url}}"{% endif %}
      placeholder="{{ _('enter-url') }}"
      type="url" required>
  </div>
  <button class="btn btn-outline-secondary" type="submit">{{ _('submit') }}</button>
</form>
<br>
<br>

<!-- Check whether the URL is defined or not -->
{% if url|length %}
  <div id="svg">
    <p id="url-para">{{ _('pagename') }} <a href="{{url}}" target="_blank">{{url}}</a>.</p>
    <!-- Append the SVG Here -->
    <img src={{ src }}/>
  </div>

  <!-- File Download Button -->
  <form action="{{ url_for('download', filename=fileName ) }}" method="GET">
    <button class="btn btn-primary" id="download" type="submit">
      <i class="fa fa-download"></i> {{ _('download') }}
    </button>

    {% if username is not none %}
      <!-- Anchor link to open Upload Form -->
      <a class="btn btn-primary" href="#upload-to-commons" id="upload-btn">
        <i class="fa fa-upload"></i> {{ _('start-upload') }}
      </a>
    {% endif %}
  </form>
  <br>

  {% if username is not none %}
    <div class="shadow-lg p-3 bg-white rounded" id="upload-to-commons">

      <!-- Form for upload action -->
      <form action="{{ url_for('upload') }}" method="POST">
        <div class="form-group">
          <p id="upload-to-commons-legend">
            {{ _('modify-details') }}
          </p>

          <!-- Old File Name -->
          <input name="oldfileName" type="hidden" value="{{fileName}}">
          <input name="baseurl" type="hidden" value="{{url}}">

            {% set urlArray = url.split('/') %}
            <!-- File Name Field -->
            <label>{{ _('filename') }}</label>
            <input class="form-control" name="newfileName" type="text"
               {% if url is not none %} value="QR Code - {{urlArray[2]}} - {{urlArray|last}}.svg"{% endif %}
               required>

            <!-- File Description Field -->
            <label>{{ _('description') }}</label>
            <textarea class="form-control" name="description" required rows="3">QR Code for {{url}}</textarea>

            </div>

            <!-- Upload button to submit the Form -->
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-upload"></i> {{ _('upload') }}
            </button>
        </form>
    </div>
    {% endif %}

{% endif %}

{% endblock %}