{% extends 'base.html' %}

{% block main %}

{% if error is not none %}
<div class="alert alert-danger" role="alert">
  {{ _('error') }}
</div>
{% else %}
<div class="alert alert-success" role="alert">
  {{ _('success') }}
  <a href="{{wikifileURL}}" target="_blank"> {{ _('view-on-site') }}</a>
</div>
<div>
  <img class="img-thumbnail rounded" src="{{fileLink}}">
  <br>
  <br>
  <a class="btn btn-primary" href="{{ url_for('index') }}">
    {{ _('goto-home') }}
  </a>
</div>
{% endif %}

{% endblock %}